.Skill{
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .imgSkillArea{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 769px) and (max-width: 863px) {
    .imgSkillArea{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}