@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap');

:root{
    font-size: 16px;
    --bg: #181A1C;
}

*{
    margin: 0;
    padding: 0;
    color: white;
    
    scrollbar-width: auto;
    scrollbar-color: #ffffff var(--bg);
}

canvas{
    background-color: var(--bg);
}